/* Fonts */
body{
    font-family: 'Newsreader';

}
/* Buttons */
.btn{
    font-family:  Helvetica, sans-serif;
}
.carousel-caption{
    left: -50%;
    right: -50%;  
    top: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-caption h4{
    font-size: 5rem;
}
.carousel-inner, .carousel-item {
    height: 100vh !important;
}

.carousel-item{
    height: 100%;
    object-fit: cover;
}
.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.big-pics h5{
    margin: 28px;
    color: white;
    font-size: 3rem;
    font-family: 'Newsreader';
    letter-spacing: 0.5rem;
    /* transform: scaleY(1.2); */
}
@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30%;
    }
}

.footer{
    background-color: #d0dbe1;
}
.footer-inner {
    max-width: 1140px;
}
